<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignIn</title>

</head>
<body>
<div class="auth">
    <h3 class="read_text">
        Sign in
    </h3>
    <form action="/authorization" method="post">
        <label>
            Login: <input type="text" name="id"/>
        </label>
        <br/>
        <label>
            Password: <input type="text" name="id"/>
        </label>
        <br/>
        <input id="reg" type="submit" />
    </form>
</div>
</body>
</html>